@{
    ViewBag.Title = "Index";
}

<form method="post">

    <span>
        Id
        @Html.TextBox("id")
    </span>
    <br />

    <span>
        Name
        @Html.TextBox("name")
    </span>
    <br />

    <span>
        Patronymic
        @Html.TextBox("patronymic")
    </span>
    <br />

    <span>
        Last name
        @Html.TextBox("lastName")
    </span>
    <br />

    <span>
        Salary
        @Html.TextBox("salary")
    </span>
    <br />

    <input type="submit" />

</form>