@{
    ViewBag.Title = "NewView";
}

<span>
    Id
    <label>@ViewBag.Id</label>
</span>
<br />

<span>
    Name
    <label>@ViewBag.Name</label>
</span>
<br />

<span>
    Patronymic
    <label>@ViewBag.Patronymic</label>
</span>
<br />

<span>
    Last name
    <label>@ViewBag.LastName</label>
</span>
<br />

<span>
    Salary
    <label>@ViewBag.Salary</label>
</span>
<br />

